.card {
    background: #222;
    padding: 18px;
    border-radius: 8px;
    border: 2px solid #444;
    color: white;
  }
  
  .status {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .green {
    width: 12px;
    height: 12px;
    background: #00ff00;
    border-radius: 50%;
  }
  
  .red {
    width: 12px;
    height: 12px;
    background: #ff0000;
    border-radius: 50%;
  }
  
  .yellow {
    width: 12px;
    height: 12px;
    background: #ffd600;
    border-radius: 50%;
  }
  
  .btn {
    margin-top: 10px;
    background: #ffcc00;
    border: none;
    padding: 7px;
  }