
.layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
  background: #111;
  overflow: hidden;
}


.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}

.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  padding-bottom: 40px;
}

.grid > *:nth-child(1) {
  grid-column: 1 / 3;
}

.grid > *:nth-child(2) {
  grid-column: 2 / 3;
}

.grid > *:nth-child(3) {
  grid-column: 2 / 3;
}

.grid > *:nth-child(4) {
  grid-column: 1 / 2;
}

.grid > *:nth-child(5) {
  grid-column: 1 / 2;
}