.container {
    display: flex;
  }
  
  .main {
    flex: 1;
    background-color: #111;
    height: 100vh;
    overflow-y: auto;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
  }